<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="tuananh_tutorial_post_after_save">
        <observer name="Demo_tuananh_tutorial_after_save" instance="TuanAnh\Tutorial\Observer\ChangeDisplayText" />
    </event>
</config>
